services:
  mongodb:
    image: mongo:7
    container_name: project_management_mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: project_management
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: project_management_backend
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production
      MONGODB_URI: mongodb://mongodb:27017/project_management
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: project_management_frontend
    restart: unless-stopped
    ports:
      - '7898:80'
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongodb_data:
    driver: local

networks:
  app-network:
    driver: bridge
